<h2 class="page-title">記録帳</h2>
<p class="sub-explanation">毎日の記録を見てみましょう</p>
<div class="judgement-container">判定の基準
  <p class="judgement-explanation">◎ タンパク質が目安量を超えてて糖質が規定範囲内</p>
  <p class="judgement-explanation">◯ タンパク質が目安料を超えてて糖質が規定範囲外</p>
  <p class="judgement-explanation">▲ タンパク質が目安料を超えてなくて糖質が規定範囲内</p>
  <p class="judgement-explanation">× タンパク質が目安料を超えてなくて糖質が規定範外</p>
</div>
<div class="btn-container">
  <%= link_to "戻る", days_path, class:"back-btn" %>
  <%= link_to "登録する", new_day_path, class:"new-btn"%>
  <%= link_to "TOP", root_path, class:"yellow-btn" %>
</div>