<h2 class="page-title">体重入力</h2>
<p class="sub-explanation">今日の体重を入力してみましょう</p>
<div class="btn-container">
<%= link_to "戻る", days_path, class:"back-btn" %>
<%= link_to "確定", '#', class: "new-btn" %>
</div>