<div class="home-container">
  <%= image_tag "Ketogenic-Diet-Vector-Illustrator-2.jpg", class: "home-index-img"%>
  <div class="zindex-container">
    <h1 class="page-title">楽しく健康的にダイエットしよう</h1>
    <ul class="li-container">
      <h2 class="worries-title">皆さんのこんなお悩みを解決します！！</h2>
      <li class="worries-texts">１日の適正栄養量が分からない</li>
      <li class="worries-texts">後どのくらい食べたらいいのか分からない</li>
      <li class="worries-texts">ダイエットしてて中々体重が減らない</li>
      <h2 class="service-features">このサービスの特徴</h2>
      <li class="features-explanations">お客様の情報を元に１人１人にあった目標を設定します</li>
      <li class="features-explanations">不足している栄養素を一目で分かりやすくしています</li>
      <li class="features-explanations">１人１人にあった目標体重を設定することで無理なダイエットを防ぐことができます</li>
      <li class="features-explanations">また視覚的に分かり易くして簡単に使う事ができます</li>
      <li class="features-explanations">他にも沢山の機能で皆さんの健康ライフをサポートしていきます</li>
    </ul>
    <%= render 'layouts/footer-link' %>
  </div><!--zindex-container-->
</div><!--home-container-->