<h1 class="main-title">楽しく健康的にダイエットしよう</h1>

<div class="li-container">
<ul class="worries-title">皆さんのこんなお悩みを解決します！！
<li class="worries-text">１日の適正栄養量が分からない</li>
<li class="worries-text">後どのくらい食べたらいいのか分からない</li>
<li class="worries-text">ダイエットしてて中々体重が減らない</li>
</ul>
</div>
<h2 class="name-title">そんな時はhealthier</h2>
<p class="explanation">
お客様の情報を元に１人１人にあった摂取カロリータンパク質の量を計算します<br>
足りない時は差異のところに表示することで何がどのくらい足りないのかを一眼でわかりやすくしています<br>
また健康的なダイエットをサポートするためにお客様の体重を元に目標体重を計算します<br>
これにより無理なダイエットを防ぐことができます<br>
また判定きのうによりどのくらい続いているのかを視覚的にみやすくしています<br>
ほかにも思わず続けたくなるような機能を沢山つけて皆さんの健康ライフをサポートしていきます<br>
</p>
<div class="login"><%= link_to "ログインはこちらから",'#' %></div>
<div class="entry"><%= link_to "会員登録はこちらから",'#' %></div>