input[type=radio]{
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
input[type=number]{
  width: 200px;
}
body{
  background-color: #e0ffff;
}
.body-container{
  border: solid 1px #fff;
  border-radius: 50px;
  padding-bottom: 30px;
  margin: 50px auto;
  width:  75%;
  min-width: 500px;
  background-color: #fff;
}
#error_form{
  color: red;
  text-align: center;
  li{
    list-style: none;
  }
}