@mixin btn {
  padding: 20px 60px;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  display: block;
  margin: 0 30px;
  min-width: 200px;
  text-align: center
}
@mixin small-btn {
  min-width: 20px;
  padding: 7px 15px;
  margin: 0px auto;
}
//メイン画面CSS
.page-explanation{
  text-align: center;
  margin: 30px 0;
  font-size: 24px;
}
.main-container{
  display: flex;
  font-size: 22px;

}
.main-left-container{
  width: 45%;
  text-align: center;
}
.main-rigth-container{
  width: 55%;
  text-align: center;
}
.today-mission{
  margin-bottom: 30px;
}
// 画像の位置を調整
.position-body{
  position: relative;
}
.judge-item-container{
  font-size: 20px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-left: 30px;
  align-items: center;
}
.blue-judgement{
  color: blue;
  margin: 10px 20px;
}
.red-judgement{
  color: red;
  margin: 10px 20px;
}
.goal-weight{
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px;
}
.index-container{
  display: flex;
}
.link_container{
  justify-content: space-around;
  display: flex;
  margin: 20px 0;
}
.graph-name{
  text-align: center;
  font-size: 16px;
}
.graph-btn{
  background-color: orange;
  border-radius: 10px;
  padding: 3px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.energy-index-img{
  position: absolute;
  top: 250px;
  left: 50px;
  border-radius: 30%;
}
//食材登録画面CSS
.register-btn{
  @include btn;
  background-color: lime;
  font-size: 20px;
}
.red-texts{
  font-size: 16px;
  margin-top: 10px;
  color: red;
  text-align: center;
}
.date_field{
  background-color: #fff;
  border: solid 1px;
  padding: 10px;
  border-radius: 20px;
}
.energy-new-img{
  position: absolute;
  top: 100px;
  left: 70px;
}
//リスト画面CSS
.small-green-btn{
  @include btn;
  @include small-btn; 
  background-color: lime;
  margin-top: 10px;
}
.small-orange-btn{
  @include btn;
  @include small-btn; 
  background-color: orange;
  margin: 0 30px 30px 100px;
}
.small-red-btn{
  @include btn;
  @include small-btn; 
  background-color: red;
  margin: 0 30px 30px 100px;
}
.record-list{
  font-size: 28px;
  list-style: none;
  margin: 30px;
}
.record-weigth-container{
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 30px;
}
.energy-list-img{
  position: absolute;
  top: 100px;
}
.record-meal{
  display: flex
}
.table-container{
  margin: 0 auto;
}
tr{
  font-size: 20px;
  margin-bottom: 30px;
  width: 35em;
}
td{
  padding: 20px;
}
.food-edit-btn{
  @include btn;
  @include small-btn; 
  background-color: orange; 
}
.food-delete-btn{
  @include btn;
  @include small-btn;
  background-color: red;
}

// ミッション履歴画面
.calendar-heading{
  text-align: center;
  margin-bottom: 10px;
}
.table-striped{
  margin: 0 auto;
  width: 200px;
}
.blue-record{
  color: blue;
}
.red-record{
  color: red;
  font-size: 28px;
}
.record-energy-img{
  position: absolute;
  top: 70px;
  left: 30px;
  border-radius: 50%;
}
.simple-calendar{
  margin-bottom: 30px;
}
// 体重登録画面
.new-day-img{
  position: absolute;
  top: 120px;
  left: 100px;
}