@mixin header-link{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
}
.header-ul{
    display: flex;
    align-items: center;
    background-color: khaki; 
    font-size: 36px;
    list-style: none;
    padding: 10px;
}
.header-logo{
    cursor: pointer;
    font-family: cursive;
    text-decoration: none;
    margin-left: 30px;
}
.header-login a{
    border: 1px solid #00FF7F;
    background-color: #00FF7F;
    @include header-link;
}
.header-singup a{
    border: 1px solid #00FFFF;
    background-color: #00FFFF;
    @include header-link;
}

.header-profile a{
    border: 1px solid #00ff7f;
    background-color: #00FF7f;
    @include header-link;
}
.header-logout a{
    border: 1px solid red;
    background-color: red;
    @include header-link;
}
ul{
    list-style: none;
}
.header-container{
  display: flex;
  margin: 0 50px 0 auto;
}
.header-login,.header-singup{
  margin-right: 10px;
  min-width: 150px;
}
.header-profile,.header-logout{
  min-width: 230px;
}