@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin header-link{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
}
.header-ul{
    display: flex;
    align-items: center;
    background-color: khaki; 
    font-size: 36px;
    list-style: none;
    padding: 10px;
}
.header-logo{
    cursor: pointer;
    font-family: cursive;
    text-decoration: none;
    margin-left: 100px;
}
.header-login a{
    border: 1px solid #00FF7F;
    background-color: #00FF7F;
    margin-left: 800px;
    @include header-link;
}
.header-singup a{
    border: 1px solid #00FFFF;
    background-color: #00FFFF;
    margin-left: 50px;
    @include header-link;
}

.header-profile a{
    border: 1px solid #00ff7f;
    background-color: #00FF7f;
    margin-left: 700px;
    @include header-link;
}
.header-logout a{
    border: 1px solid red;
    background-color: red;
    margin-left: 50px;
    @include header-link;
}
.debug_dump{
    clear: both;
    float: left;
    width: 100px;
    margin-top: 45px;
    @include box_sizing;
}
.singup-alert{
    color: red;
    border: 1px solid red;
    width: 40%;
    padding: 30px;
    margin: 0 auto;
}
ul{
    list-style: none;
}