@mixin header-link{
  text-decoration: none;
  color: orange;
}
.header-ul{
  display: flex;
  align-items: center;
  background-color: #FFF;
  font-size: 28px;
  list-style: none;
  padding: 10px;
}
.header-logo{
  font-family: cursive;
  margin-left: 30px;
  @include header-link;
}
.header-items a{
  @include header-link;
  min-width: auto;
}
.header-items{
  margin: 0 10px;
}
.header-container{
  display: flex;
  margin: 0 20px 0 auto;
}