.home-container{
  position: relative;
}
.zindex-container{
  z-index: 999;
  position: relative;//これでz-indexを有効化している
}
.home-index-img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
  opacity: 0.3;
}
.page-title{
  font-size: 36px;
  text-align: center;
  padding: 30px;
  letter-spacing: 0.12em;
  color: orange;
}
.li-container{
  display: block;
  text-align: center;
}
.worries-title{
  font-size: 24px;
}
.worries-texts{
  text-align: center;
  list-style: none;
  font-size: 20px;
  margin-top: 10px;
}

.service-features{
  text-align: center;
  margin: 30px 0 20px 0;
}
.features-explanations{
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  list-style: none;
}
.login_link, .start_link, .password-edit-links{
  text-align: center;
  margin-top: 20px;
  a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
  }
}
.singup_link{
  text-align: center;
  margin-top: 20px;
  a{
    text-decoration: none;
    color: green;
    font-size: 20px;
    }
}
.alert{
  text-align: center;
  color: red;
  font-size: 20px;
}
.notice{
  text-align: center;
  color: lime;
  font-size: 20px;
}