// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main-title{
  text-align: center;
  margin: 30px 0;
}
.li-container{
  display: block;
  text-align: center;
}

.worries-title{
  font-size: 24px;
}

.red-text{
  font-size: 16px;
  margin-top: 10px;
  color: red;
  text-align: center;
}
.name-title{
  text-align: center;
  margin: 30px 0 20px 0;
  font-family: cursive;
}
.explanation{
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
.login_link,.start_link{
  text-align: center;
  margin-top: 50px;
  a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
  }
}
.singup_link{
  text-align: center;
  margin-top: 20px;
  a{
    text-decoration: none;
    color: chartreuse;
    font-size: 20px;
    }
}
.alert{
  text-align: center;
  color: red;
  font-size: 20px;
}
.notice{
  text-align: center;
  color: lime;
  font-size: 20px;
}