// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.page-title{
  font-size: 36px;
  text-align: center;
  margin: 30px;
  letter-spacing: 0.12em;
  color: orange;
}
.li-container{
  display: block;
  text-align: center;
}

.worries-title{
  font-size: 24px;
}
.worries-texts{
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.service-features{
  text-align: center;
  margin: 30px 0 20px 0;
}
.features-explanations{
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  list-style: none;
}
.login_link, .start_link{
  text-align: center;
  margin: 20px 0;
  a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
  }
}
.singup_link{
  text-align: center;
  a{
    text-decoration: none;
    color: green;
    font-size: 20px;
    }
}
.alert{
  text-align: center;
  color: red;
  font-size: 20px;
}
.notice{
  text-align: center;
  color: lime;
  font-size: 20px;
}