<div class="body-container position-body">
  <p class="page-explanation">登録した食事を編集しましょう</p>
  <%= render 'layouts/error_message' %>
  <%= form_with model: @energy, local: true do |f| %>
    <%= render 'layouts/energy_new_edit', f: f, edit_flag: true %>
    <%= image_tag "images-2.png", size: "250x200", class: "energy-new-img"%>
  <% end %>
</div>