<% if user_signed_in? %>
<div class="start_link"><%= link_to "はじめる",energys_path %></div>
<% else %>
<div class="login_link"><%= link_to "ログインはこちらから",new_user_session_path %></div>
<div class="singup_link"><%= link_to "会員登録はこちらから",new_user_registration_path %></div>
<% end %>